Top 30 ImP Question Must be slove ,
Variables, Data Types, Input/Output, Loops, Conditionals

In [ ]:
# Q1. Write a Python program to swap two variables.
a = 4 
b = 7 
c = a ,b  = b , a
print(c)

In [ ]:
# Q2. Take user input and display it back to the user
user_Input = input("Enter something..")
print(user_Input)

In [ ]:
# Q3. Write a program to check if a number is even or odd.
num = int(input("Enter Number"))
if num % 2 ==0:
  print("Number is Even")
else:
  print("Numver is Odd")

In [ ]:
# Q4. Create a program that prints the multiplication table of a given number.
num = int(input("Enter Number"))
for i in range(1,11):
   print(f"{num} x {i} = {num*i}")

In [ ]:
# Q5. Write a program to find the largest of three numbers.
num1 =  int(input("Enter Number 1: "))
num2 =  int(input("Enter Number 2: "))
num3 =  int(input("Enter Number 3: "))
if (num1>=num2) or (num1>=num3):
   largest= num1 
elif (num2>=num1) or (num2>=num3):
   largest= num2
else:
   largest = num3

print(largest)

In [ ]:
# Q6. Convert temperature from Celsius to Fahrenheit.
# Input temperature in Fahrenheit
fahrenheit = float(input("Enter temperature in Fahrenheit: "))

# Convert Fahrenheit to Celsius
celsius = (fahrenheit - 32) * 5 / 9

# Display the result
print(f"{fahrenheit}°F is equal to {celsius:.2f}°C")
# dabut

In [ ]:
# Q7. Write a program to calculate the factorial of a number using a loop.
N = int(input("Enter number.."))
sum = 1
for i in range(2,N+1):
  sum*=i
print(sum)

In [ ]:
# Q8. Create a program to count the number of vowels in a string.
val = input("Enter name")
vowal = "AEIOUaeiou"
v_count=0
c_count=0
for i in val:
 if i in vowal:
   v_count+=1
 else: 
   c_count+=1

print(f"The value of Vowel is {v_count} and Constant is {c_count}")

In [ ]:
# Q9. Write a Python script to reverse a given string
a = "Ayush ayush" 
""
rev= ""
for i in a:
  rev = i + rev
print(rev)

In [ ]:
# Q10. Check if a number is a palindrome.
s = "malylam"
if s==s[::-1]:
  print("Pilimdrone")
else: 
  print("not one ")

In [ ]:
# Q11. Write a program to find the sum of first N natural numbers.

num = int(input("Enter"))
sum = 0 
for i in range(1,num+1):
   sum +=i
print(sum)

In [ ]:
# Q12. Create a number guessing game.
import random

# 1. Secret number choose (1-100)
secret = random.randint(1, 100)

print("🎯 Guess the Number Game (Binary Hint Style)!")
print("I have chosen a number between 1 and 100.")

low, high = 1, 100
attempts = 0

while True:
    guess = int(input(f"Enter your guess ({low}-{high}): "))
    attempts += 1
    
    if guess == secret:
        print(f"🎉 Correct! The number was {secret}. Attempts: {attempts}")
        break
    elif guess < secret:
        print("⬆️ Too low!")
        low = max(low, guess + 1)  # Hint: number is higher
    else:
        print("⬇️ Too high!")
        high = min(high, guess - 1)  # Hint: number is lower

In [ ]:
# Q13. Write a program to print all prime numbers between 1 and 100
import math
for num in range(1,101):
  is_Prime= True
  for n in range(2,int(math.sqrt(num))+1):
    if num%n ==0:
     is_Prime= False
     break
  if is_Prime:
    print(num)

In [ ]:
# Q14. Check if a given year is a leap year or not.
Year = int(input("Enter Year..."))
if(Year%4==0)or (Year %400 == 0):
  print("Year is leap ")
else:
  print("Not Leap Year")

In [ ]:
# Q15. Create a program to print the Fibonacci series up to N terms
N = int(input("Enter Number.."))
a = 0 
b=1 
for i in range(N):
  print(a,end=" ")
  a,b=b,a+b

In [ ]:
# Q16. Write a program to find the GCD of two numbers

a = int(input("Enter 1 "))
b = int(input("Enter 2 "))
x,y=a,b
while b !=0 :
  a,b=b,a%b
gcd = a 
lcm= (x*y)
print("GCD is : ",gcd)
print("LCM is : ",lcm)

In [ ]:
# Q17. Write a program to find the LCM of two numbers.

In [ ]:
# Q18. Check whether a character is a vowel or consonant.
try:
 n = input("asdjasd;")
 vowal= "aeiouAEIOU"
 if len(n)==1 and  n.isalpha():
   if  n in vowal:
    print("its vol")
   else:
     print("Const")
 else: 
  print("please enter Charcter ")
except TypeError as e :
 print("only Alpha:",e)

Const

In [ ]:
# Q19. Write a program to calculate the sum of digits of a number

n = int(input("Enter Number"))
count= 0 
while n>0:
  n//=10
  count+=1
print(count)

In [ ]:
# Q20. Create a program to find the second largest number in a list.
lst = [23,34,3,56,7,58,67,58,6,756,78,66,534]
l1=lst[0]
l2= lst[1]
if l1>l2:
  l1,l2= l2,l1
for i in lst[2:]:
  if i > l1:
    l2= l1
    l1=i 
  elif i>l2 and i !=l1:
    l2 = i 
print( "leargest :",l1)
print("Second Leargest :",l2)

In [ ]:
# Q21. Write a program to count the number of digits in an integer.
try: 
  num = int(input("Enter a Number."))
  n = num 
  count= 0 
  if n ==0:
   count= 1
  else: 
     while n>0:
       n //=10
       count+=1
  print("Total Count of chracter:",count)
except Exception as e:
  print("only integer value enter : ",e)

In [36]:
# Q22. Create a program to print all Armstrong numbers between 1 to 1000
for num in range(1,1001):
  n = num 
  res= 0
  power = len(str(num))
  while n>0:
    id = n %10
    res += id**power 
    n //=10
  if res==num:
     print(num,"is Aemstrong" )

1 is Aemstrong
2 is Aemstrong
3 is Aemstrong
4 is Aemstrong
5 is Aemstrong
6 is Aemstrong
7 is Aemstrong
8 is Aemstrong
9 is Aemstrong
153 is Aemstrong
370 is Aemstrong
371 is Aemstrong
407 is Aemstrong

In [ ]:
# Q23. Write a Python program to print a pattern of stars in a triangle.
n = 5 
for i in range(n,0,-1):
  for j in range(i):
    print("*",end=" ")

  print()

In [1]:
# Q24. Create a calculator app using if-else.i
num1= int(input("en 1 "))

num2= int(input("en 2 "))
print("ent opreation + - * /:")
op = input("Enter Opreator: ")
if op=='+':
  print("Result",num1+num2)
elif op=='-':
  print("Result",num1-num2)
elif op=='*':
  print("Result",num1*num2)
elif op=='/':
  print("Result",num1/num2)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Q25. Write a program to display the ASCII value of a character.
a=input("Enter Character ")
print(ord(a))

In [ ]:
# Q26. Convert a decimal number to binary using loops..
a = int(input("Enter a Decimal Number"))
print(bin(a))

In [ ]:
# Q27. Create a program to find the square root of a number
a = int(input("Enter a Number."))
print(float(a//2))

In [ ]:
# Q28. Write a program to find the sum of all even numbers in a list.

lst = [3,4,6,3,5,6,3]
total = 0 
for i in lst:
  total+=i
print("Sum of List :" ,total)

In [ ]:

# Q29. Create a program to check whether a number is prime or not

n= int(input("Eaopdk"))
for i in range(2,n):

    if n %i==0:
      print("false")
      break
    else:  
      print(True)
      break

In [ ]:
# Q30. Write a program to display the cube of the number up to an integer
a   = int(input("Enter Number.."))
for i in range(1,a+1):
   print(f"The Cube of {a} is {a**3}")
   break

In [ ]:
# marged 2 dictonaris
ap ={
  1:"ap",
  2:"dp",
  3:"cp",
}
ak ={
  4:"kp",
  5:"mp",
  6:"lp",
}
m = ap | ak
print(m )

{1: 'ap', 2: 'dp', 3: 'cp', 4: 'kp', 5: 'mp', 6: 'lp'}

In [6]:
ap = (1,3,5,6)
ak = (4,6,7,8)
m = ap +ak
print(m)

(1, 3, 5, 6, 4, 6, 7, 8)

In [10]:
ap = {2,4,5,6,7}
ak= {4,5,8,9,1}
m = ap|ak
print(m)

{1, 2, 4, 5, 6, 7, 8, 9}

In [13]:
ap= [1,2,4,5,6]
ak= [11,24,46,58,63]
m = ap+ak
print(m)

[1, 2, 4, 5, 6, 11, 24, 46, 58, 63]

In [16]:
n = 36
if n %2 == 0 :
  print("even")
else:
  print('not even ')

even

In [28]:
lst = [4,6,3,6,45,3,4,23]
count=0 
for i in lst:
  count+=i
print(count)

94

In [50]:
lst= [2,4,34,5,3,45,5,35]
mini = lst[0]
maxi = lst[0]
for i in lst:
  if i >maxi :
    maxi = i
  if mini>i:
    mini = i
print(maxi)

45

In [2]:
lst = [2,4,34,53,46,23,23,2,4]
uni = []
for num in lst:
  if num not in uni:
    uni.append(num)
print(uni)

[2, 4, 34, 53, 46, 23]

In [5]:
def ap(n):
  rev = " "
  for i in n:
    rev= i+rev
  return rev
ap("hello")

'olleh '

In [13]:
a =[1,3,5,6,7,8]
b = tuple(a)
print(b,a)

(1, 3, 5, 6, 7, 8) [1, 3, 5, 6, 7, 8]

In [16]:
a = {1 :"ayuhs",2:"krish",3:"shree"}
b = {4:"ay",  5:"sh",6:"ree"}
c = a|b
print(c)

{1: 'ayuhs', 2: 'krish', 3: 'shree', 4: 'ay', 5: 'sh', 6: 'ree'}

In [20]:
sq = {}
for i in range(1,20):
  sq[i]=i*i
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}

In [24]:
lst=[14,43,53,6,4,5,67,56,434,46,5,45]
l= sorted(lst)
print(l)

[4, 5, 5, 6, 14, 43, 45, 46, 53, 56, 67, 434]

In [31]:
a = {1 :"ayuhs",2:"krish",3:"shree"}
key= 1
if key in a:
  print("right",a[1])
else:
  print("else")

right ayuhs

In [37]:
def commen(l1,l2):
  return list(set(l1)&set(l2))
l1=[2,3,4,5,2,5]
l2=[2,3,9,5,6,5]
print(commen(l1,l2))

[2, 3, 5]

In [49]:
def fect(n):
  feq= 1
  for i in range(1,n+1):
    if i>0:
      feq*=i
  return feq
fect(5)

120

In [3]:
#write a program to find the largest and smallest element in a list 
a = [32,5,56,678,23,23,4,342,53]
max(a)

678

In [142]:
# write a display vowal in sting upper case , lower case seprately 
# given num so makeing message

a = input('Enter') 
if not a.isalpha():
  print("not acceptable") 
else: 
  vol = "aeiou"
  b="AEIOU"
  count = 0
  count1 = 0
  for i in a:
    if i in vol:
     count +=1
    elif i in b : 
     count1+=1
  print("lower vowel" , count),
  print("Upper vowel" ,count1)

lower vowel 1
Upper vowel 0

In [49]:
import  numpy as np 
import  pandas as pd
left = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name': ["Ap","RT","Ak","KT","ST"],
  'Subject_id':['sub1','sub2','sub3','sub6','sub5'
]
})
Right = pd.DataFrame({
  'id':[1,2,3,4,5],
  'Name': ["cc","RcT","Aadk","KafdT","SadfT"],
  'Subject_id':['sub01','sub99','sub4','sub7','sub9'
]
})
print(left)
print(Right )
# print(pd.merge(left,Right,on='Subject_id',how='outer'))
# print(pd.merge(left,Right, how='outer',on='Subject_id'))
print("mathods ")
index = ([1,2,3,4,5,6])
print(pd.concat([left,Right]))

   id Name Subject_id
0   1   Ap       sub1
1   2   RT       sub2
2   3   Ak       sub3
3   4   KT       sub6
4   5   ST       sub5
   id   Name Subject_id
0   1     cc      sub01
1   2    RcT      sub99
2   3   Aadk       sub4
3   4  KafdT       sub7
4   5  SadfT       sub9
mathods
   id   Name Subject_id
0   1     Ap       sub1
1   2     RT       sub2
2   3     Ak       sub3
3   4     KT       sub6
4   5     ST       sub5
0   1     cc      sub01
1   2    RcT      sub99
2   3   Aadk       sub4
3   4  KafdT       sub7
4   5  SadfT       sub9

In [61]:
ap = pd.DataFrame({
  'Name':["aysuh","vencky","shekar","madhurani"],
  "id":[7351,4562,3453,4343]
})
pp = pd.DataFrame({
  'Name':["veru","sonu",""
  "kapil","madhurani"],
  "id":[7351,4562,3453,4343]
})
print(ap)
print(pd.concat([ap,pp]))

        Name    id
0      aysuh  7351
1     vencky  4562
2     shekar  3453
3  madhurani  4343
        Name    id
0      aysuh  7351
1     vencky  4562
2     shekar  3453
3  madhurani  4343
0       veru  7351
1       sonu  4562
2      kapil  3453
3  madhurani  4343

In [1]:
dic1={1:"Ayush",2:"Omrep",3:"Somix", 4:"kinu"}
dic2={5:"Ayush",6:"Omrep",7:"Somix", 8:"kinu"}
marged = dic1 | dic2
print(marged)

{1: 'Ayush', 2: 'Omrep', 3: 'Somix', 4: 'kinu', 6: 'Ayush', 5: 'Omrep', 7: 'Somix', 8: 'kinu'}

In [19]:
def fab(n):
  a= 0 
  b = 1
  for i in range(n):
    print(a)
    a,b= b,a+b
  return a
fab(5)

0
1
1
2
3

5

In [31]:
n = 6
for i in range(n,0,-1):
 print("* "*i)

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [39]:
with open("my.txt","w") as mf:
  mf.write("""Hello World!""")
with open("my.txt",'r') as f: 
  lines = f.readline()
  print(lines)
  print(len(lines))

Hello World!
12

In [54]:
a = "teri nazro ka sitam"


p = a.replace(" ","_#hyphen")

print(p)

teri~nazro~ka~sitam

In [66]:
for num in range(1,501):
  n = num 
  res = 0 
  power = len(str(num))
  while n > 0 :
    id = n %10 
    res +=id**power
    n //=10
 
  if num  == res:
     print("atm",num)

atm 1
atm 2
atm 3
atm 4
atm 5
atm 6
atm 7
atm 8
atm 9
atm 153
atm 370
atm 371
atm 407

In [86]:
s =1 
e= 90
print(a, b)
for n in range(s,e+1):
  if n > 1:
    for q in range(2,n):
      if n % q == 0:
       break
    else:
      print(n)

<__main__.kittu object at 0x00000241A2D423C0> 8
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89

Python Tech Round

In [162]:
#  Reverse a String / pilindrome 
a = "helloMaster!"
rev = ""
for i in range(len(a)):
  rev  =  a[i]+rev
if rev == a:
  print("Pilindrome",rev)

else:
  print("not pilim")
  print("Reverse String is: ",rev)

not pilim
Reverse String is:  !retsaMolleh

In [127]:
a = [2,4,58,9,0]
max(a)

58

In [131]:
#1.  Count Vowels and Consonants
# 2. Count Vowels and Consonants lower seprate ,upper seprate num, not allowdnN 

n = "BaseExceptionGroup"
vol = "AEIOUaeiou"
v_count= 0
c_count= 0
for i in n:
  if i in vol:
    v_count+=1
  else:
    c_count+=1
print("Total Vowel is:", v_count)
print("Total Consonents is:", c_count)

Total Vowel is: 8
Total Consonents is: 10

In [ ]:
# write a script and find vowel in string vowel and contonent seprately 
# num not allowed

n = input("ENTER")
if not n.isalpha():
  print("Int is not accecptable")
else:
  vol = "AEIOUaeiou"
  v_count= 0
  c_count= 0 
  for i in n:
    if i in vol:
      v_count+=1
    else:
      c_count+=1
  print("Total Vowel is:", v_count)
  print("Total Consonents is:", c_count)

Total Vowel is: 2
Total Consonents is: 3

In [151]:
x=6
y=5
c=0
c=y
y=x
x=c
print(x,y)

5 6

In [156]:
x=6
y=5
x,y = y,x
print(x,y)

5 6

In [19]:
a = 11
res = 0 
for i in range(a+1):
  if i > 0 :
    res+= i
  print(res)

0
1
3
6
10
15
21
28
36
45
55
66

In [ ]:
# given number
a = int(input("Enter Digits "))
res = 0 
while a>0:
  id= a %10
  res+=id
  a //=10
print(res)

In [ ]:
# check prime
a = int(input("Enter"))
for i in range(2,a+1):
  if a%i==0:
    print("This Number is not Prime ") 
    break
  else:
    print("This Number is  Prime ") 
    break

In [7]:
# write a script find even and odd string word (spaces not count )
str= input("Enter")
no_space= str.replace(" ","")
even= ""
odd = "" 
for i in range(len(no_space)):
  if i%2==0:
    even+=no_space[i]
  else:
    odd+=no_space[i]
print(" Print Even :",even)
print(" Odd Even :",odd)

 Print Even : auhady
 Odd Even : yspne

In [32]:
# 25. Binary Search Implementation & Bubble Sort Implementation
def Bin_serch(arr,target):
  left , right = 0 ,len(arr)-1
  while left <= right:
    mid= (left +right) //2 # mid index
    if arr[mid]==target:
      return mid
    elif arr[mid]<target:
      left =mid+1
    else: 
       right =mid-1
  return -1
arr = [2,3,4,5,3,6,4,11,5,522,2]
print(Bin_serch(arr,6))

5

In [60]:
#  Remove Duplicates from a List
a = [1,3,4,3,5,4,1,3,3,23,4,35,2,2,1]
uni = set()
res =[]
for i in a:
  if i not in uni:
    res.append(i)
    uni.add(i)
print(res)

[1, 3, 4, 5, 23, 35, 2]

In [69]:
# Swap Two Numbers
a =  11 
b =14
print(a,b)
c= 0 
c= b
b = a 
a = c
print("swap" ,a,b) # mathod 1 
n  = 9 
i = 5
print(n,i)
n , i = i,n
print("swap",n,i) # mathod 2

11 14
swap 14 11
9 5
swap 5 9

Strong

In [108]:
# Strong number 
# // given the num and find factorial and add  if your fact sum is == given number is called strong number.
p = int(input("Enter a Number"))
a = p 
tot = 0 
while a > 0:
  fact= 1
  y = a%10
  for i in range(1,y+1):
    fact*=i
  tot+= fact
  a = a//10
if tot == p:
  print("Strong Number")
else: 
  print("Not Strong Number")

ValueError: invalid literal for int() with base 10: ''

In [90]:
n = int(input("asfda"))
sum = 1
for i in range(1,n+1):
  if n > 0:
    sum*=i
print(sum)

120

In [ ]:
n =424242424

c = 0 
while n>0:
    

    c+=1

print(c)

TypeError: 'str' object is not callable

In [136]:
# . Longest Word in a Sentence
a= "This approach correctly identifies the longest sentence based on its character length. Alternatively if you prefer not to use external libraries, you can split the paragraph by periods,"
p= a.split()
v = max(p, key=len)
print(v)

Alternatively

In [ ]:
# Sum of First N Natural Numbers
num = int(input("Enter Number"))
sum = 0 
for i in range(1,num):
  if i > 0: 
    sum+=i
  print(sum)

1
3
6
10